:root {
  --lft-sect-blk: 75%;
  --rt-sec-blk: calc(100% - var(--lft-sect-blk));
  --hdr-ht: 23%;
  --sect-ht: 70%;
  --ftr-ht: calc(100% - var(--hdr-ht) - var(--sect-ht));
}

.blue {
  background-color: rgb(28,69,135);
}

.black-border {
  border: 2px solid black;
}

.light-blue-border {
  border: 1px solid rgb(28,69,128);
}

.light-blue {
  background-color: rgb(205,226,245);
}

.sky-blue {
  background-color: rgb(74,134,232);
}

.title {
  font-size: 32pt;
  color: aliceblue;
  text-align: center;
  border: 1px yellow solid;
  margin-bottom: 23px;
}

.main-flex {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.main-flex .header {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100px;
}

.main-flex .content {
  flex: 1 1 auto;
}

.main-flex .footer {
  flex: 0 1 40px;
}

.content-flex {
  display: flex;
  flex-flow: row;
  height: 100%;
  border: solid 3px green;
}

.right-flex {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.left-flex {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-content: center;
  align-items: center;
  border: solid 5px fuchsia;
}

* {
  border: solid 1px red;
}

html, body {
  height: 100%;
  margin: 0;
}